form{
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    flex-direction: row;
    box-sizing: border-box;
    box-shadow: 0px 0.5px 0px 0.5px rgba(0,0.85, 0, 0.85);
    padding:0.5rem;
    margin: 1rem 0;
    border-radius: 12px;
    background-color: #808000;
}
.form{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0.25,0.8);
    padding: 0.30rem;
    margin: 1rem 0 ;
    border-radius: 12px;
    background-color: #000080;
}
